@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
body {
  font-family: "Lato", sans-serif;
}

.App {
  width: 50%;
  margin: 20px auto;
}

.App h1 {
  color: rgb(92, 23, 162);
  border: 1px solid rgb(70, 130, 180, 0.6);
  border-radius: 5px;
  text-align: center;
  padding: 10px;
}

.add-todo {
  background-color: rgb(221, 160, 221, 0.5);
  border-radius: 5px;
  padding: 20px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.add-todo input {
  padding-left: 10px;
  border: none;
  border-radius: 5px;
  width: 75%;
  height: 30px;
  background-color: rgb(255, 255, 255);
  margin-right: 10px;
  margin-left: auto;
  color: rgb(92, 23, 162);
}

.add-todo button {
  margin-right: auto;
  height: 30px;
  min-width: 130px;
}

.todo-list {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: rgba(181, 222, 255, 0.4);
  border-radius: 5px;
  padding: 20px;
  height: 500px;
}

.todo {
  width: 90%;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid rgb(70, 130, 180, 0.6);
  background-color: rgb(243, 253, 255);
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
  -webkit-box-shadow: 1px 1px 61px 1px rgba(71, 71, 71, 0.3);
  -moz-box-shadow: 1px 1px 61px 1px rgba(71, 71, 71, 0.3);
  box-shadow: 1px 1px 61px 1px rgba(71, 71, 71, 0.3);
}

.todo span {
  margin-left: 10px;
  color: rgb(92, 23, 162);
  font-size: 14px;
  font-weight: 600;
}

.add-btn {
  font-weight: bold;
  background-color: rgb(192, 128, 255);
  color: rgb(255, 255, 255);
}

.check {
  margin-right: 10px;
  background-color: #73bb73;
  color: #003200;
}

.delete {
  background-color: #e85050;
  color: #640000;
}

.todo-not-found {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: rgb(73, 73, 73);
}

.completed {
  text-decoration: line-through;
  text-decoration-color: #6400c1;
  background-color: rgb(243, 236, 255);
  color: #f4e7ff;
}
